<div class="container">
    <table class="table table-hover ">
      <thead class="table-dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cupo</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materia of res" (click)="seleccionarMateria(materia)">
            <td>{{ materia.codigo }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ materia.cupos }}</td>
            <td>{{ materia.estado }}</td>
          </tr>
      </tbody>
    </table>
  </div>