<body>
  <div class="contenido">
    <br>
    <h1 class="d-flex justify-content-center">Lista de Materias</h1>
    <br>
    <br>
    <div class="row g-3 mt-3">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Mostrar</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" #valorMostrar
            (change)="cambiarPaginacion('mostrar',valorMostrar.value)">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Ordenar por</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" #valorColumna
            (change)="cambiarPaginacion('columna',valorColumna.value) ">
            <option value="codigo" selected>Codigo</option>
            <option value="nombre">Nombre</option>
            <option value="cupos">Cupos</option>
            <option value="estado">Estado</option>

          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Tipo de ordenamiento</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" #valorOrdenamiento
            (change)="cambiarPaginacion('ordenamiento',valorOrdenamiento.value)">
            <option value="asc" selected>Ascendente</option>
            <option value="desc">Descendente</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Busqueda</span>
          </div>
          <input #busqueda type="text" class="form-control" placeholder="..." aria-label="Username"
            aria-describedby="basic-addon1">
          <button (click)="cambiarPaginacion('busqueda',busqueda.value)">Buscar</button>
        </div>
      </div>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cupos</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>
                <th scope="col">Inabilitar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estudiante of res | paginate: {itemsPerPage:itemsPerPage, currentPage:paginaActual}">
                <th scope="row">{{estudiante.codigo}}</th>
                <td>{{estudiante.nombre}}</td>
                <td>{{estudiante.cupos}}</td>
                <td>{{estudiante.estado}}</td>
                <!-- <td><button type="button" class="btn btn-primary ">Editar</button></td> -->
                <td><button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#modificar-estudiante" (click)="selectStudent(estudiante);">Editar</button> 
                  <!-- <td><button type="button" class="btn btn-danger" (click)="disable_state(estudiante)">Inabilitar</button></td> -->
                  
                  <!-- <button type="button" class="btn" [ngClass]="{ 
                    'btn-danger': !isEstudianteHabilitado(estudiante),
                    'btn-success': isEstudianteHabilitado(estudiante)
                  }" (click)="disable_state(estudiante)">
                    {{ isEstudianteHabilitado(estudiante) ? 'Inhabilitar' : 'Habilitar' }}
                  </button>-->

                  <td>
                    <button type="button" class="btn" [ngClass]="{
                      'btn-success': isEstudianteHabilitado(estudiante),
                      'btn-danger': !isEstudianteHabilitado(estudiante)
                    }" (click)="disable_state(estudiante)">
                      {{ isEstudianteHabilitado(estudiante) ? 'Habilitado' : 'Inhabilitado' }}
                    </button>
                  </td>
                  
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12">
        <div class="pagination">
          <div class="">Pagina {{paginaActual}} de {{totalPaginas}}</div>
          <div class=" "><pagination-controls (pageChange)="paginaActual = $event"
              [responsive]="true"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

 <!-- Modal -->
 <div class="modal fade" id="modificar-estudiante" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
 aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Actualizar Asignatura</h5>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>

     
     <div class="modal-body">
       <form [formGroup]="fmRcurso" (submit)="onSubmit()" id ="frmRcursoOne" >
         <fieldset>
           <!-- <legend>Disabled fieldset example</legend> -->
           <div class="mb-3">
             <label for="codigo" class="form-label">Codigo de asignatura</label>
             <input type="text" formControlName="codigo"  id="codigo" class="form-control" readonly>

             <div class="alert alert-danger" *ngIf="fmRcurso.controls['codigo'].invalid && fmRcurso.controls['codigo'].touched">
               <div *ngIf="fmRcurso.controls['codigo'].errors?.['required']">El codigo es obligatoio </div>
               <div *ngIf="fmRcurso.controls['codigo'].errors?.['minlength']">Debe tener alamenos 5 numeros</div>  
             </div>

           </div>

           <div class="mb-3">
             <label for="nombre" class="form-label">Nombre</label>
             <input type="text"  id="nombre" formControlName="nombre"   class="form-control"  placeholder="">  <!-- placeholder="" poner por definido texto -->

             <div class="alert alert-danger" *ngIf="fmRcurso.controls['nombre'].invalid && fmRcurso.controls['nombre'].touched">
               <div *ngIf="fmRcurso.controls['nombre'].errors?.['required']">El nombre es obligatoio </div>
               <div *ngIf="fmRcurso.controls['nombre'].errors?.['pattern']">No se aceptan numeros</div>  
             </div>

             
           </div>

           <div class="mb-3">
             <label for="cupos" class="form-label">Cupos</label>
             <input type="number"  id="cupos" formControlName="cupos"  class="form-control" placeholder="Disabled input">
             <div class="alert alert-danger" *ngIf="fmRcurso.controls['cupos'].invalid && fmRcurso.controls['cupos'].touched">
               <div *ngIf="fmRcurso.controls['cupos'].errors?.['required']">los cupos son obligatoio </div>
               <div *ngIf="fmRcurso.controls['cupos'].errors?.['pattern']">No se aceptan letras</div>  
             </div>
           </div>


        

           <div class="mb-3">
             <label for="estado" class="form-label">Estado</label>
             <select id="estado"  formControlName="estado"  class="form-select">
               <option value="A">Activa</option>
               <option value="I">Inabilitada</option>
             </select>
             <div class="alert alert-danger" *ngIf="fmRcurso.controls['estado'].invalid && fmRcurso.controls['estado'].touched">
               <div *ngIf="fmRcurso.controls['estado'].errors?.['required']">Estado obligatoio </div>
             </div>
           </div>
          
         </fieldset>
       </form>
       {{fmRcurso.status}}

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
       <button type="submit" form ="frmRcursoOne" class="btn btn-primary" [disabled] ="!fmRcurso.valid">Guardar </button>
     </div>
   </div>
 </div>
</div>


