<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets\img\inscripciones.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Mostrar Inscripciones</h5>
        <p class="card-text">En este lugar ver las inscripciones</p>
    </div>
    <div class="card-body">
        <a routerLink="/inscripciones/tabla-inscripciones" class="card-link">Entrar</a>
    </div>
</div>

<label for="firstName">Name: </label>
<input id="name" type="text" [formControl]="name">
<p>Value: {{ name.value }}</p>



