<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets\img\inscripciones.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Mostrar Inscripciones</h5>
        <p class="card-text">En este lugar ver las inscripciones</p>
    </div>
    <div class="card-body">
        <a routerLink="/inscripciones/tabla-inscripciones" class="card-link">Entrar</a>
    </div>
</div>

<main>
  <div class="container">
    <h3>Tabla de Estudiantes</h3>
    <app-students-table (onSelect)="estudiante = $event"></app-students-table>

    <div *ngIf="estudiante" class="selected-student">
      <h4>Estudiante seleccionado:</h4>
      <div class="student-info">
        <span>Código: {{estudiante.codigo}}</span>
        <span>Nombre: {{estudiante.nombre}}</span>
        <span>{{estudiante.apellido}}</span>
        <span>/{{estudiante.tipoDocumento}}</span>
        <span>/{{estudiante.numeroDocumento}}</span>
        <span>/{{estudiante.genero}}</span>
      </div>
    </div>
    <h3>Tabla de Materias</h3>
    <app-subjects-table (onSelectSubject)="onSubjectSelected($event)"></app-subjects-table>
    
    <div *ngIf="selectedSubject" class="selected-subject">
      <h4>Asignatura seleccionada:</h4>
      <div class="subject-info">
        <span>Código: {{selectedSubject.codigo}}</span>
        <span> {{selectedSubject.nombre}}</span>
        <span> /Cupos: {{selectedSubject.cupo}}</span>
        <span>/{{selectedSubject.estado}}</span>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Agregar</button>
  </div>
</main>


<label for="firstName">Name: </label>
<input id="name" type="text" [formControl]="name">
<p>Value: {{ name.value }}</p>



