.selected-student .student-info span {
    display: inline-block;
    margin-right: 10px;
}
.selected-student, .selected-subject {
    background-color: #d9f7e6;
  }

  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
input,
label {
    margin: 0.4rem 0;
}
