body {
    background-image: linear-gradient(rgba(5 , 7 ,12, 0.45 ),rgba(5 , 7 ,12, 0.45 ),)
   }

.selected-student .student-info span {
    display: inline-block;
    margin-right: 10px;
}
.selected-student, .selected-subject {
    background-color: #5f94e3;
  }

  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
input,
label {
    margin: 0.4rem 0;
}