<table class="table table-hover ">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Tipo de documento</th>
        <th scope="col">Número de documento</th>
        <th scope="col">Género</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students" (click)="selectStudent (student)">
          <td>{{ student.codigo }}</td>
          <td>{{ student.nombre }}</td>
          <td>{{ student.apellido }}</td>
          <td>{{ student.tipoDocumento }}</td>
          <td>{{ student.numeroDocumento }}</td>
          <td>{{ student.estado }}</td>
          <td>{{ student.genero }}</td>
        </tr>
    </tbody>
</table>


