<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets\img\wel2.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input #nombre type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input #contrasena type="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="login(nombre.value, contrasena.value)">
      </form>
  
  
    </div>
  </div>

  <h3>Test del interceptor</h3>
  <button (click)="getTodo()">Get Todo</button>
  <button (click)="setToken()">Set Token</button>
  <button (click)="removeToken()">Remove Token</button>
  <h3 *ngIf="todo">{{todo.title}}</h3>
