<body>
  <div class="contenido">
    <br>
    <h1 class="d-flex justify-content-center">Lista de Inscripciones</h1>
    <br>
    <br>
    <div class="row g-3 mt-3">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Mostrar</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" #valorMostrar
            (change)="cambiarPaginacion('mostrar',valorMostrar.value)">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Ordenar por</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" #valorColumna
            (change)="cambiarPaginacion('columna',valorColumna.value) ">
            <option value="id_inscripcion" selected>id_inscripcion</option>
            <option value="codigo_estudiante">codigo_estudiante</option>
            <option value="codigo_materia">codigo_materia</option>
            <option value="fecha_inscripcion">fecha_inscripcion</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Tipo de ordenamiento</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" #valorOrdenamiento
            (change)="cambiarPaginacion('ordenamiento',valorOrdenamiento.value)">
            <option value="asc" selected>Ascendente</option>
            <option value="desc">Descendente</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Busqueda</span>
          </div>
          <input #busqueda type="text" class="form-control" placeholder="..." aria-label="Username"
            aria-describedby="basic-addon1">
          <button (click)="cambiarPaginacion('busqueda',busqueda.value)">Buscar</button>
        </div>
      </div>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">id_inscripcion</th>
                <th scope="col">codigo_estudiante</th>
                <th scope="col">codigo_materia</th>
                <th scope="col">fecha_inscripcion</th>
                <th scope="col">Editar</th>
                <!-- <th scope="col">Inabilitar</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estudiante of res | paginate: {itemsPerPage:itemsPerPage, currentPage:paginaActual}">
                <th scope="row">{{estudiante.id_inscripcion}}</th>
                <td>{{estudiante.codigo_estudiante}}</td>
                <td>{{estudiante.codigo_materia}}</td>
                <td>{{estudiante.fecha_inscripcion}}</td>
                <td><button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#modificar-estudiante" (click)="selectStudent(estudiante);">Editar</button> 
                <!-- <td><button type="button" class="btn btn-danger">Inabilitar</button></td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12">
        <div class="pagination">
          <div class="">Pagina {{paginaActual}} de {{totalPaginas}}</div>
          <div class=" "><pagination-controls (pageChange)="paginaActual = $event"
              [responsive]="true"></pagination-controls></div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Modal -->
<div class="modal fade" id="modificar-estudiante" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Actualizar Asignatura</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    
    <div class="modal-body">
      <form [formGroup]="fmRcurso" (submit)="onSubmit()" id ="frmRcursoOne" >
        <fieldset>
          <!-- <legend>Disabled fieldset example</legend> -->
          <div class="mb-3">
            <label for="id_inscripcion" class="form-label">Identificaicon de Inscripcion</label>
            <input type="text" formControlName="id_inscripcion"  id="id_inscripcion" class="form-control" readonly>

            <div class="alert alert-danger" *ngIf="fmRcurso.controls['id_inscripcion'].invalid && fmRcurso.controls['id_inscripcion'].touched">
              <div *ngIf="fmRcurso.controls['id_inscripcion'].errors?.['required']">El codigo es obligatoio </div>
              <div *ngIf="fmRcurso.controls['id_inscripcion'].errors?.['minlength']">Debe tener alamenos 5 numeros</div>  
            </div>

          </div>


          <div class="mb-3">
            <label for="codigo_estudiante" class="form-label">Codigo de Estudiante</label>
            <input type="number" formControlName="codigo_estudiante"  id="codigo_estudiante" class="form-control" >

            <div class="alert alert-danger" *ngIf="fmRcurso.controls['codigo_estudiante'].invalid && fmRcurso.controls['codigo_estudiante'].touched">
              <div *ngIf="fmRcurso.controls['codigo_estudiante'].errors?.['required']">El codigo es obligatoio </div>
              <div *ngIf="fmRcurso.controls['codigo_estudiante'].errors?.['minlength']">Debe tener alamenos 5 numeros</div>  
            </div>

          </div>


          <div class="mb-3">
            <label for="codigo_materia" class="form-label">Codigo de asignatura</label>
            <input type="number"  id="codigo_materia" formControlName="codigo_materia"  class="form-control" placeholder="">
            <div class="alert alert-danger" *ngIf="fmRcurso.controls['codigo_materia'].invalid && fmRcurso.controls['codigo_materia'].touched">
              <div *ngIf="fmRcurso.controls['codigo_materia'].errors?.['required']">los cupos son obligatoio </div>
              <div *ngIf="fmRcurso.controls['codigo_materia'].errors?.['pattern']">No se aceptan letras</div>  
            </div>
          </div>

          <div class="mb-3">
            <label for="fecha_inscripcion" class="form-label">fecha de Inscripcion</label>
            <input type="text"  id="fecha_inscripcion" formControlName="fecha_inscripcion"  class="form-control" placeholder="EJEMPLO : 2023-11-24T00:00:00.000Z" >
            <div class="alert alert-danger" *ngIf="fmRcurso.controls['fecha_inscripcion'].invalid && fmRcurso.controls['fecha_inscripcion'].touched">
              <div *ngIf="fmRcurso.controls['fecha_inscripcion'].errors?.['required']">los cupos son obligatoio </div>
              <div *ngIf="fmRcurso.controls['fecha_inscripcion'].errors?.['pattern']">No se aceptan letras</div>  
            </div>
          </div>

         
         
        </fieldset>
      </form>
      {{fmRcurso.status}}

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
      <button type="submit" form ="frmRcursoOne" class="btn btn-primary" [disabled] ="!fmRcurso.valid">Guardar </button>
    </div>
  </div>
</div>
</div>