<div class="container">
    <h1>Estudiante</h1>
    <form (ngSubmit)="onSubmit">
        <label for="codigo"> Codigo:</label>
        <input type="number" name="codigo" class="form-control" id="codigo" [(ngModel)]="model.codigo" required
            maxlength="45" #codigo="ngModel" [ngClass]="{ 'invalid-field': codigo.invalid && codigo.touched }">

        <div *ngIf="codigo.invalid && codigo.touched" class="error">**Código es requerido**</div>


        <label for="nombre"> Nombre:</label>
        <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="model.nombre" required
            #nombre="ngModel" [ngClass]="{ 'invalid-field': nombre.invalid && nombre.touched }" />
        <div *ngIf="nombre.invalid && nombre.touched" class="error">**Nombre es requerido**</div>

        <label for="apellido"> Apellido:</label>
        <input type="text" name="apellido" class="form-control" id="apellido" [(ngModel)]="model.apellido" required
            #apellido="ngModel" [ngClass]="{ 'invalid-field': apellido.invalid && apellido.touched }" />
        <div *ngIf="apellido.invalid && apellido.touched" class="error">**Apellido es requerido**</div>

        <label for="tipo_documento"> Tipo de Documento:</label>
        <input type="text" name="tipo_documento" class="form-control" id="tipo_documento"
            [(ngModel)]="model.tipo_documento" required #tipo_documento="ngModel"
            [ngClass]="{ 'invalid-field': tipo_documento.invalid && tipo_documento.touched }" />
        <div *ngIf="tipo_documento.invalid && tipo_documento.touched" class="error">**Tipo de documento es requerido**
        </div>


        <label for="numero_documento"> Numero de Documento:</label>
        <input type="text" name="numero_documento" class="form-control" id="numero_documento"
            [(ngModel)]="model.numero_documento" required maxlength="15" #numero_documento="ngModel"
            [ngClass]="{ 'invalid-field': numero_documento.invalid && numero_documento.touched }" />
        <div *ngIf="numero_documento.invalid && numero_documento.touched" class="error">**Numero de documento es
            requerido**</div>

        <label for="estado"> Estado:</label>
        <input type="text" name="estado" class="form-control" id="estado" [(ngModel)]="model.estado" maxlength="1" />

        <label for="genero"> Genero:</label>
        <input type="text" name="genero" class="form-control" id="genero" [(ngModel)]="model.genero" maxlength="3" />

        <button type="submit" class="btn btn-primary" (click)="addStudent()">
            Enviar
        </button>


    </form>



    <!-- <div class="pre">
        <h2>Modelo:</h2>
        {{currentEstudiante}}
    </div> -->

</div>