
    <!-- 
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets\img\estudiantes.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Estudiantes</h5>
          <p class="card-text">En este lugar podra gestionar toda la informacion relacionada con los estudiantes</p>
        </div>
        <div class="card-body">
          <a routerLink="/estudiantes" class="card-link">Entrar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets\img\materias.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Materias</h5>
          <p class="card-text">En este lugar podra gestionar toda la informacion relacionada con las materias</p>
        </div>
        <div class="card-body">
          <a routerLink="/materias" class="card-link">Entrar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets\img\inscripciones.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Inscripciones</h5>
          <p class="card-text">En este lugar podra gestionar toda la informacion relacionada con las inscripciones</p>
        </div>
        <div class="card-body">
          <a routerLink="/inscripciones" class="card-link">Entrar</a>
        </div>
      </div>-->

      <div class="row">

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets\img\estudiantes.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Estudiantes</h5>
              <p class="card-text">En este lugar podra gestionar toda la informacion relacionada con los estudiantes</p>
            </div>
            <div class="card-body">
              <a routerLink="/estudiantes" class="card-link">Entrar</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets\img\materias.jpg" alt="Card image cap">
      <body>
        <div class="container">
          <h1 class="title text-center py-4">Home </h1>
          <div class=" row">
            <div class="col-md-12 d-flex justify-countent-center">
              <div class="card m-2 cb2 text-center">
                <img class="card-img-top" src="assets\img\wel2.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">INGRESO AL MEJOR API RETS</h5>
                </div>
                <div class="card-body">
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>


 
    <!--
      
          <div class="card m-2 cb2 text-center">
            <img class="card-img-top" src="assets\img\wel2.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Materias</h5>
              <p class="card-text">En este lugar podra gestionar toda la informacion relacionada con las materias</p>
            </div>
            <div class="card-body">
              <a routerLink="/materias" class="card-link">Entrar</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
              <a href="#" routerLink="/materias" class="btn btn-outline-light">Ingresar</a>
            </div>
          </div>
          
          <div class="card m-2 cb1 text-center">
            <img class="card-img-top" src="assets\img\inscripciones.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Inscripciones</h5>
              <p class="card-text">En este lugar podra gestionar toda la informacion relacionada con las inscripciones</p>
            </div>
            <div class="card-body">
              <a routerLink="/inscripciones" class="card-link">Entrar</a>
            </div>
          </div>
        </div>
        
      </div>
      
      
              <a href="#" routerLink="/inscripciones" class="btn btn-outline-light">Ingresar</a>
            </div>
          </div>
          -->
